.form {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  margin-top: 1em;
}

.formInput {
  outline: none;
  color: #333;
  font-size: 1.2rem;
  margin: 10px;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  border: none;
}

.formButton {
  cursor: pointer;
  margin: 5px;
  font-size: 1em;
  min-width: 50%;
  height: 3em;
  border-radius: 20px;
  border: none;
  background-color: #85b7d6;
}

.formButton:hover {
  background-color: #efefef;
}

.dateWrapper {
  color: #333;
}