.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0B5471;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.searchTerm:focus{
  color: #0B5471;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 36px;
  border: 1px solid #0B5471;
  background: #0B5471;
  text-align: center;
  color: #fff;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 40%
}