.cardsContainer {
  display: flex;
  width: 90%;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.search {
  width: 100%;
  position: relative;
  display: flex
}

.searchTerm {
  width: 100%;
  border: 3px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 2px 0 0 2px;
  outline: none;
  box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.73);
}

.searchTerm:focus{
  color: #0B5471;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 36px;
  border: 1px solid #0B5471;
  background: #0B5471;
  text-align: center;
  color: #fff;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.73);
}

.wrap {
  width: 40%;
  margin: auto;
}

.superContainer {
  width: 100%;
}
