


.title {
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}


.type {
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: min(300px, 70vw);
    height: min(450px, 70vw);
    border-radius: 15px;
    
    transition: 0.2s;
    transition: transform 0.4s ease;
    padding: 20px;

    background-image:linear-gradient(rgba(0,0,0,0),rgba(133,183,214, 1)45%,rgba(133,183,214, 1)), url(../../images/navbar_logo.png);
    background-size: contain;


    overflow: hidden;
}


.card:hover {
    box-shadow: 0 4px 8px 0 rgba(11, 84, 160, 1);

    background-image:linear-gradient(rgba(133,183,214, 0.3),rgba(133,183,214, 1)30%,rgba(133,183,214, 1)), url(../../images/navbar_logo.png);
    background-size: contain;
    transform: scale(106%);
}
.cardContent{
    transform: translateY(150px);
    transition: 0.5s ease;
}
.card:hover .cardContent{
    transform: translateY(0);
}

.extraContent{
    transform:translateY(250px);
    transition: 0.6s ease;
}

.card:hover .extraContent{
    transform: translateY(-10px);
}

.link {
    margin: 20px;
    text-decoration: none;
    color: #000000; 
}


.overheader {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}



.cardMobile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: min(300px, 70vw);
    height: min(750px, 70vw);
    border-radius: 15px;
    padding: 20px;

    background-image:linear-gradient(rgba(0,0,0,0),rgba(133,183,214, 1)20%,rgba(133,183,214, 1)), url(../../images/navbar_logo.png);
    background-size: contain;


    overflow: hidden;
}

.cardContentMobile{
    font-size: 1.4vh;
    transform: translateY(0);
}

.extraContentMobile{

    font-size: 1.4vh;
    transform: translateY(-20px);
}