.title {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.type {
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: min(300px, 70vw);
    height: 90%;
    border-radius: 20px;
    background-color: #85B7D6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(11, 84, 160, 1);
}

.link {
    margin: 20px;
    text-decoration: none;
    color: #000000; 
}
.overheader {
    display: flex;
    align-items: ;
    justify-content: space-between;
}