.cardsContainer {
  display: flex;
  width: 90%;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon {
  width: 30px;
}

.plus {
  width: 20px;
  align-items:center;
}

.icon:hover {
  opacity: 0.8;
}
