.cardsContainer {
  display: flex;
  width: 90%;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon {
  width: 30px;
  position:relative;
}

.plus {
  width: 20px;
  align-items:center;
}

.icon:hover {
  opacity: 0.8;
}

.iconDescriptionWrapper {
  width: 90%;
  position: fixed;
  bottom: 5vh;
  margin: 1em;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.iconDescription {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 1;
  height: 1em;
  text-align: center;
  padding: 1em;
  border-radius: 20px;
  color: black;
  font-size: 1em;
}

.icon:hover + .iconDescriptionWrapper {
  position: absolute;
  visibility: visible
}
