.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center
}

.contentContainer {
  background-color: #e5e5e5;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.creditsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 0.8em;
  height: 2em;
  background-color: #c2c2c2;
  font-style: italic
}

.logo {
  height: 200px;
  width: auto;
}