
.requestButton {
    cursor: pointer;
    margin: 5px;
    font-size: 1em;
    min-width: 50%;
    height: 3em;
    border-radius: 20px;
    border: none;
    background-color: #85b7d6;
  }
  
  .requestButton:hover {
    background-color: #efefef;
  }